.profile__image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: opacity .2s ease-in-out;
}

.profile__image:hover {
    cursor: pointer;
    opacity: .2;
}