.profile {
    padding: 40px 0 50px;
    gap: 60px;
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    
}

@media screen and (max-width: 1023px) {
    .profile {
        flex-direction: column;
        justify-content: flex-start;
        padding: 42px 19px 36px;
        gap: 36px;
    }
}