.popup__form {
    width: 430px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 34px 36px 37px;
    color: #000;
  }
  
  @media screen and (max-width: 710px) {
    .popup__form { 
      width: 282px;
   
      padding: 25px 22px;
    }
  }