.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(../../../images/edit__button.svg) no-repeat 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 1px solid white;
  transition: opacity .2s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-bottom: 8px;
    margin-left: 8px;

  }
}