.popup__button-close {
    background: url("../../../images/Close\ Icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -42px;
    right: -42px;
    border: none;
  }
  
  .popup__button-close:hover {
    opacity: 0.6;
    cursor: pointer;
  }

@media screen and (max-width: 1023px) {
.popup__button-close {
    height: 20px;
    right: 0;
    top: -16px;
    transform: translateY(-100%);
    width: 20px;
}
  }